ai
node_modules
dist
.env
.env.local
.dev.vars
*.log
.wrangler
.mf
tmp
.pnpm-store

# lsmcp cache
.lsmcp/cache
# Ignore local development variables
.dev.vars

# Sentry Config File
.env.sentry-build-plugin

# Generated Service Worker
public/sw.js
